{% extends 'base.html' %}
    {% block title%} Find Roomy Verification!{% endblock%}
    {% block body %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Find Roommates!</h5>
              
              <div id="screen">
              <h6 class="card-subtitle mb-2 text-danger">Verfiy</h6>
    
    
              {% if err %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> {{ err }} 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif%}
    
    
    
    
              <form onsubmit="send()">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@srmist.edu.in" name = "email" required>
                </div>
                <button onclick="send()" type="submit" class="btn btn-dark btn-sm align-middle btn-lg btn-block" id="otpsend" >Send OTP</button>
              </form>
                <div id ="check">
                </div>
                <hr style="background:grey;">
                <div id="contribute">
                  <a data-toggle="tooltip" title="Want to contribute?" id="img-git" href="https://github.com/sahiljena/Find-roomy">
                    <img id="logo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
                  </a>
                  <a style="float: right; margin-top: 10px;" id="img-git" href="mailto:sahiljena46@gmail.com">
                    <span style="transform: scale(1.6);" class="material-icons">contact_support</span>
                  </a>
                </div>
            </div>
    
            </div>
          </div>
          
        </div>
      </div>
    </div>
<script>
bootbox.alert("<h5 style='padding: 10px;'>To reduce spams you can add your hostel data <b>only once!</b><br> So be carefull you <b style='color: #ff005d;'>dumbass!</h5><br><img class='lazy' width='100' src='https://avatars3.githubusercontent.com/u/36576810?s=280&v=4'>"); 
</script>
    {% endblock %}
